<a href="http://localhost/BusinessCase-main/public/"><img class="w-25 mx-auto" src="/img/logo-businesscase.webp" alt="Logo du site Burn Your Crypto"> </a>
<a href="{{ path('app_admin_home') }}">Dashboard</a>
<a href="{{ path('app_user_index') }}">Utilisateurs</a>
<a href="{{ path('app_admin_home') }}">NFT</a>
<a href="{{ path('app_admin_home') }}">Groupes</a>
<a href="{{ path('app_admin_home') }}">Genres</a>